div.punic-section {
	padding-top: 20px;
	margin-bottom: 200px;
}

#header {
	padding-top: 40px;
}

div.punic-section div.class-header h1 a:before {
	content: "View full documentation";
}
div.punic-section div.class-header h1 a {
	font-size: 14px;
	float: right;
}
