div.punic-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

div.punic-section div.class-header h1 a:before {
	content: "View full documentation";
}
div.punic-section div.class-header h1 a {
	font-size: 14px;
	float: right;
}
