div.punic-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

div.punic-section h1 {
	font-size: 40px;
}
div.punic-section h2 {
	font-size: 30px;
}
div.punic-section h3 {
	font-size: 20px;
}
div.punic-section h2 a:before {
	content: "View full documentation";
}
div.punic-section h2 a {
	font-size: 14px;
	float: right;
}
